{% extends 'base.html' %}

{% block header %}
<script src="{{ url_for('static', filename='external_packages/chart.js/package/dist/chart.umd.js') }}"></script>
<script src="{{ url_for('static', filename='home_viewmodel.js') }}" defer></script>
<script src="{{ url_for('static', filename='home_view.js') }}" defer></script>
{% endblock header %}

{% block content %}
<body>
  <div class="chart-container">
    <div class="chart-box" width=900 height=400>
      <h2>Electrical Power Usage</h2>
      <canvas id="power_chart"></canvas>
      <div id="power_chart_controls" class="button-group"></div>
    </div>
    <div class="chart-box" width=900 height=400>
      <h2>Chart 2</h2>
      <canvas id="chart2"></canvas>
      <div id="controls2" class="button-group"></div>
    </div>
  </div>
  <p>
    Learn more about this project by visiting the <a href="{{ url_for('pages.settings') }}">About page</a>.
  </p>
</body>
{% endblock content %}