{% extends 'base.html' %}

{% block header %}
  <script src="{{ url_for('static', filename='external_packages/chart.js/package/dist/chart.umd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='external_packages/socket.io-socket.io-4.8.1/packages/socket.io/client-dist/socket.io.min.js') }}"></script>
  <script type=module
          src="{{ url_for('static', filename='home_viewmodel.js') }}"
          defer>
  </script>
{% endblock header %}

{% block content %}
<body>
  <div class="chart-container">
    <!-- Chart 1 -->
    <div class="chart-box">
      <canvas id="chart1"></canvas>
      <div class="button-group">
        <button id="toggle1a">Power Consumption</button>
        <button id="toggle1b">Temperature</button>
      </div>
    </div>

    <!-- Chart 2 -->
    <div class="chart-box">
      <canvas id="chart2"></canvas>
      <div class="button-group">
        <button id="toggle2a">Toggle Visitors</button>
        <button id="toggle2b">Toggle Signups</button>
      </div>
    </div>
  </div>
  <p>
    Learn more about this project by visiting the <a href="{{ url_for('pages.settings') }}">About page</a>.
  </p>
{% endblock content %}