{% extends 'base.html' %}

{% block header %}
  <h2>{% block title %}Home{% endblock title %}</h2>
  <script src="{{ url_for('static', filename='external_packages/package/dist/chart.umd.min.js') }}"></script>
{% endblock header %}

{% block content %}
  <p>
    <canvas id="TestChart" width="900" height="400"></canvas>
    <script>
      var ctx = document.getElementById("TestChart").getContext("2d");
      var testChart = new Chart(ctx, {
        type: "line",
        data: {
          labels: {{ labels | safe }},
          datasets: [
            {
              label: "Test data",
              data: {{ values | safe }},
              fill: false,
              borderColor: "rgb(75,192,192)",
              lineTension: 0.1
            }
          ]
        },
        options: {
          responsive: false
        }
      });
    </script>
  </p>
  <p>
    Learn more about this project by visiting the <a href="{{ url_for('pages.settings') }}">About page</a>.
  </p>
{% endblock content %}